.completed {
  width: 50%;
  height: 60vh;
  background-image: url('../../images/large_hedgehog-girl.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 80px;
}

.completed-h2 {
  font-size: 4rem;
  padding-top: 100px;
  padding-right: 50px;
}